* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #33475b;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.611em;
    font-weight: 400;
}

a {
    text-decoration: none;
}

.container {
    width:1080px;
    margin: auto;
    height: 100%;
    border: 1px solid black;
}

.clearfix::after {
    clear: both;
    display: table;
    content: "";
}

.header-top {
    background-color: #f0f0f0;
    height: 85px;
}

.header-top-left {
    width: 50%;
    float: left;
}

.header-top-left li {
    display: inline-block;
}

.header-top-left ul {
    text-align: left;
    margin-top: 30px;
}

.fa-globe-europe {
    margin-right: 10px;
}

.header-top-left ul li:nth-child(2) {
    padding-right: 15px;
    border-right: 2px solid #cbd6e2;
}

.header-top-left ul li:last-child {
    padding-left: 15px;
}

.header-top-right {
    width: 50%;
    float: right;
}

.header-top-right ul {
    list-style-type: none;
    text-align: right;
    margin-top: 23px;
}

.header-top-right li {
    display: inline-block;
}

.fa-search {
    color: #06a0d4;
}

.button-empty {
    background-color: #fff;
    border: 1px solid #ff7a59;
    color: #ff7a59;
    padding: 10px;
    border-radius: 3px;
    margin-left: 10px;
}

.button-empty a, .fa-search {
    margin-left: 15px;
    margin-right: 15px;
}

.button-empty:hover {
    background-color: #ffefeb;
}

.button-full {
    background-color: #ff7a59;
    color: #fff;
    padding: 10px;
    border: 1px solid #ff7a59;
    border-radius: 2px;
    margin-left: 10px;
}

.button-full:hover {
    background-color: #ffc4b5;
    border: 1px solid #ffc4b5;
}
.header-bottom {
    background-color: white;
    height: 84px;
}

.homepage {
    background-image: linear-gradient(to top right, #fef8f0, #fff3ee, #fff1ee);
    height: 748px;
}

.home-services {
    background-color: #f5f8fa;
    height: 997px;
}

.home-community-board {
    background: rgb(0,181,182);
    background: linear-gradient(37deg, rgba(0,181,182,1) 50%, rgba(0,187,154,1) 91%);
    height: 924px;
}

.home-customers {
    background-color: white;
    height: 288px;
}

.home-get-hub {
    background-color: white;
    height: 694px;
}

footer {
    background-color: #33475b;
    height: 754px;
}
