* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #33475b;
    font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.611em;
    font-weight: 400;
}

a {
    text-decoration: none;
}

.container {
    width:1080px;
    margin: auto;
    height: 100%;
    border: 1px solid black
}

.clearfix::after {
    clear: both;
    display: table;
    content: "";
}

.header-top {
    background-color: #f0f0f0;
    height: 85px;
}

.header-top-left {
    width: 50%;
    float: left;
}

.box {
    float: left;
    margin-top: 30px;
}

.box:first-child{
    border-right: 2px solid #cbd6e2;
    width: 91px;
}

.box:nth-child(2) {
    text-align: center;
    padding-right: 10px;
    width: 134px;


}


.icon {
    margin-right: 8px;
}

.header-top-right {
    width: 50%;
    background-color: lightblue;
    height: 100%;
    float: left;
}

.header-bottom {
    background-color: white;
    height: 84px;
}

.homepage {
    background-image: linear-gradient(to top right, #fef8f0, #fff3ee, #fff1ee);
    height: 748px;
}

.home-services {
    background-color: #f5f8fa;
    height: 997px;
}

.home-community-board {
    background: rgb(0,181,182);
    background: linear-gradient(37deg, rgba(0,181,182,1) 50%, rgba(0,187,154,1) 91%);
    height: 924px;
}

.home-customers {
    background-color: white;
    height: 288px;
}

.home-get-hub {
    background-color: white;
    height: 694px;
}

footer {
    background-color: #33475b;
    height: 754px;
}
