* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #33475b;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.611em;
    font-weight: 400;
}

.button-full a, .button-jumbo a {
    color: white;
}

.button-empty a {
    color: #ff7a59;
}
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    width:1080px;
    margin: auto;
    height: 100%;
}

.home-services .container, .home-community-board .container, .home-customers .container, .home-get-hub .container, footer .container {
    border: 1px solid black;
}

.clearfix::after {
    clear: both;
    display: table;
    content: "";
}

/* header */
/* top */

.header-top {
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    height: 85px;
    border-bottom: 1px solid #cbd6e2;
    z-index: 91;
}

.header-top a{
    padding:10px;
}

/* top-left */

.header-top-left {
    width: 50%;
    float: left;
    height: 85px;
}

.header-top-left li, .header-top-right li, .header-bottom-right li {
    display: inline-block;
}

.header-top-left ul {
    text-align: left;
    margin-top: 30px;
}

.fa-globe-europe {
    margin-right: 10px;
}

.header-top-left ul li:nth-child(2) {
    padding-right: 15px;
    border-right: 2px solid #cbd6e2;
}


.header-top-left ul li:nth-child(2)::after {
content: '\f0d7';
display: inline-block;
position: relative;
color: #7c98b6;
font-family: "Font Awesome 5 Pro";
font-weight: bold;
margin-left: 10px;
}

.header-top-left ul li:last-child {
    padding-left: 15px;
}

.header-top-left a:visited, .header-top-left a {
    color: #33475b;
}

/* fine top-left */
/* top-right */

.header-top-right {
    width: 50%;
    float: right;
    height: 85px;
}

.header-top-right ul {
    text-align: right;
    margin-top: 23px;
}

.fa-search {
    color: #06a0d4;
}

.button-empty a:visited {
    color: #ff7a59;
}

.button-empty {
    background-color: #fff;
    border: 1px solid #ff7a59;
    color: #ff7a59;
    padding: 7px;
    border-radius: 3px;
    margin-left: 10px;
    margin-right: 10px;
}

.button-empty a, .fa-search {
    margin-left: 15px;
    margin-right: 15px;
}

.button-empty:not(.button-white):hover {
    background-color: #ffefeb;
}

.button-full {
    background-color: #ff7a59;
    color: #fff;
    padding: 7px;
    border: 1px solid #ff7a59;
    border-radius: 2px;
    display: inline-block;
}

.button-full a:visited {
    color: white;
}

.button-full:hover {
    background-color: #ffc4b5;
    border: 1px solid #ffc4b5;
}

.button-full, .button-empty {
    font-size: 13px;
}

/* fine top-right *//* fine header-top */

/* inizio Header-bottom */

.header-bottom {
    background-color: white;
    height: 85px;
    padding-top: 85px;
}

.header-bottom-left {
    width: 30%;
    height: 100%;
    float: left;
}

.hubspot-logo {
    margin-top: 27px;
}

.header-bottom-right {
    width: 70%;
    height: 100%;
    float: left;
    text-align: right;
}

.header-bottom-right ul li {
    text-align: right;
    font-weight: bold;
    margin-top: 30px;
    padding-left: 25px;
}

.header-bottom-right ul li::after {
content: '\f0d7';
display: inline-block;
position: relative;
color: #7c98b6;
font-family: "Font Awesome 5 Pro";
font-weight: bold;
margin-left: 10px;
}

/* fine header bottom */

/* inizio jumbo */

.jumbo{
    background-image: url(Background.png);
    background-size: cover;
    background-position: center;
    height: 748px;
}

.box-jumbo {
    width: 40%;
    margin-bottom: 164px;
}

.box-jumbo h1 {
    font-size: 43px;
    line-height: 56px;
    margin-top: 83px;
    padding-top: 83px;
}

.box-jumbo p{
    line-height: 29px;
    padding-top: 38px;
}

.button-jumbo {
    margin-top: 25px;
    background-color: #ff7a59;
    color: #fff;
    padding: 26px;
    border: 1px solid #ff7a59;
    border-radius: 2px;
    display: inline-block;
    font-weight: bold;
}

.box-jumbo p:last-child {
    margin-right: 232px;
    font-size: 13px;
    line-height: 20px;
}

.button-jumbo a:visited{
    color: white;
}

.button-jumbo:hover {
    background-color: #ffc4b5;
    border: 1px solid #ffc4b5;
}

/* fine jumbo */

.home-services {
    background-color: #f5f8fa;
    /* height: 997px; */
}

.row1{
    padding-top: 100px;
}

.row1 .box{
    width: 32%;
    height: 320px;
    float: left;
    text-align: left;
    margin: 0 21px 21px 0;
}

.row1 .box h2 {
    font-size: 30px;
    line-height: 41px;
}

.row1 .box p{
    line-height: 29px;
    padding-top: 25px;
}

.row1 .box1 {
    width: 66%;
    height: 320px;
    float: left;
    margin-bottom: 21px;
}

.box1:hover {
    transform: scale(1.02);
}


.uppercase {
    text-transform: uppercase;
}

.features p.large-card {
    text-transform: uppercase;
    padding-top: 20px;
    font-size: 12px;
    position: relative;
}

p.large-card::after {
    content: '';
    position: absolute;
    height: 12px;
    margin-left: 10px;
    border-bottom: 1px solid rgba(153,172,194,0.2);
    width: 78%;
}

.features-list ul li.inline:last-child::before {
    content: none;
}

.button-full.inline {
    width: 51%;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.inline {
    display: inline-block;
    margin-right: 20px;
}

.row2 .box1 {
    width: 32%;
    height: 440px;
    float: left;
}

.large-card {
    text-transform: uppercase;
    padding-top: 20px;
    font-size: 12px;
}

.box1 {
    box-shadow: 1px 1px 8px 0px rgba(150, 150, 150, 0.1);
    background-color: white;
    padding: 25px;
}

.box1 .title img, .box1 .title h3 {
    display: inline-block;
}

.box1-content {
    font-size: 15px;
}

.title, .box1-content p, .features-list ul{
    margin-bottom: 20px;
}

.features-list ul li {
    line-height: 30px;
    font-size: 13px;
}

.features p.vertical-card {
    border-top: 1px solid rgba(153,172,194,0.2);
    text-transform: uppercase;
    padding-top: 20px;
    font-size: 12px;
}

.button-large {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.features-list ul li::before{
    content: "\f058";
    width: 18px;
    height: 18px;
    display: inline-block;
    color: #ff7a59;
    font-weight: bold;
    font-family: "Font Awesome 5 Pro";
    position: relative;
}

.row2 .box1:first-child, .row2 .box1:nth-child(2) {
    margin: 0 21px 100px 0;
}

.home-community-board {
    background: rgb(0,181,182);
    background: linear-gradient(37deg, rgba(0,181,182,1) 50%, rgba(0,187,154,1) 91%);
    height: 924px;
    color: white;
}

.home-community-board .container {
    padding: 100px 0;
}

.text {
    text-align: center;
    padding: 0 186px;
    line-height: 35px;
}

h2.board-text {
    font-size:28px;
}

p.board-text {
    margin-top: 20px;
}

.board {
    margin-top: 100px;
}

h2.number {
    font-size: 48px;
    margin-top: 20px;
}

.number:not(.noplus)::after {
    content: '\f067';
    display: inline-block;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    font-family: "Font Awesome 5 Pro";
    position: relative;
    vertical-align: middle;
}

p.pippo {
    padding-top: 4px;
}

.grid p {
    font-size: 17px;
    margin-top: 20px;
}

.grid {
    text-align: center;
    width: 25%;
    padding: 30px;
    float: left;
}

.board .grid:first-child, .board .grid:nth-child(2), .board .grid:nth-child(3) {
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.board .grid:nth-child(4) {
    border-bottom: 1px solid #fff;
}

.board .grid:nth-child(5), .board .grid:nth-child(6), .board .grid:nth-child(7) {
    border-right: 1px solid #fff;
}

/* inizio parte con i loghi */

.home-customers {
    background-color: white;
}

.box-box {
    padding: 100px 0;
}

div.customers {
    float: left;
    width: 40%;
}

div.customers h2 {
    font-size: 50px;
    margin-bottom: 34px;
}

div.customers p {
    font-size: 20px;
    line-height: 32px;
    padding-right: 36px;
}

div.customers p strong {
    font-size: 24px;
}

div.loghi {
    width: 60%;
    float: left;
}

.logo-box {
    float: left;
    width: 25%;
    padding: 20px;
    position: relative;
}

div.logo-box img {
    width: 110px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logo-row-2 {
    margin-top: 45px;
}

/* fine parte con i loghi */

.home-get-hub {
    background-color: white;
}

.get-hub-text, .girl {
    float: left;
    width: 50%;
}

.content-box{
    padding: 135px 0;
    position: relative;
}

.get-hub-text h2 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 20px;
}

.get-hub-text p {
    line-height: 27px;
}

p.dida {
    font-size: smaller;
    margin-top: 30px;
}


.content-box img{
    width: 350px;
    text-align: right;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* footer */

footer {
    background-color: #33475b;
}

.list1 {
    width: 25%;
    float: left;
    color: #cbd6e2;
    padding: 90px 0 50px 0;
    line-height: 42px;
    font-size: 15px;
}

.list1 ul li a span {
    text-transform: uppercase;
}

.list1 ul li a:not(.button):visited, .list1 ul li a, .menu-languages ul li a, .menu-languages ul li a:visited, .footer-right a, .footer-right a:visited{
    color: #cbd6e2;
}

.list1 ul li:first-child:not(.fb) {
    color: white;
    font-size: 17px;
}

.dropdown::after {
content: '\f0d7';
display: inline-block;
position: relative;
color: white;
font-family: "Font Awesome 5 Pro";
font-weight: bold;
margin-left: 10px;
}

.footer-row1 div:not(:first-child){
    padding-left: 20px;
}

.button-white {
    border: 1px solid white;
    color: #33475b;
    text-align: center;
    padding: 0;
    margin: 20px 36px 0 0;
}

a.button:visited {
    color: #33475b;
}

.list-icon li {
    display: inline-block;
    font-size: 25px;
    padding-top: 15px;
}

.list-icon li:not(:first-child) {
    margin-left: 19px;
}


nav {
    padding: 50px;
    position: relative;
}

.menu-languages ul li {
    display: inline-block;
}

.menu-languages ul li:not(:first-child) {
    margin-left: 25px;
}

.menu-languages {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 0 50px 0;
}

.footer {
    height: 150px;
    width: 100%;
    padding: 50px 0;
}

.footer-left p {
    color: #cbd6e2;
    font-size: smaller;
}

.footer-left {
    width: 50%;
    float: left;
    height: 150px;
}

.footer-right {
    width: 50%;
    float: left;
    height: 150px;
    text-align: right;
}

.footer-right ul li {
    display: inline-block;
}

.footer-right ul li:last-child {
    margin-right: 20px;
}
